*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
h1{
    border: 1px solid blue;
    padding: 20px 40px 60px 80px;
}*/
body{
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #8139a5;
    padding: 20px;
}
header{
    background: #35424a;
    color: rgba(red, green, blue, alpha);

    text-align: center;
    box-shadow: box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
header h1{
    color: #8139a5;
    font-size: 2.5rem;
    font-weight: :600;
}
nav{
    background:rgba(255, 255, 255, 0.9) ;
    padding: 1rem;
}
nav ul{
    
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li a{
    color: #35424a;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    border-radius: 5px;
}
nav ul li a:hover{
    background: #667eea;
    color: white;
    transform: translatey(-10px);
    
}
projects ol li{
    padding: 1.5rem;
    text-align: center;
    min-width: 9.375rem;
}
#skills figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
#skills figure img{
    width: 10rem;
    margin-bottom: 1rem;

}
@media (max-width: 768px){
    header h1{
        font-size: 1.8rem;
    }
    nav ul{
        gap:1rem
       
    }
    #skills figure{
        width: 100%;
    }
}